<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Dashboard</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='css/styles.css') }}">

    <link
      rel="stylesheet"
      href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.3/css/all.min.css" />
</head>
<body>
  <div class="map"></div>  
  <div class="quarterlyresult"></div>  
  <div class="PL"></div>  
  <div class="BS"></div>  
  <div class="CF"></div>  

  <script src="{{ url_for('static', filename='js/script.js') }}"></script>
</body>
</html>