<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Finance Insight Dashboard</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='css/styles.css') }}">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.3/css/all.min.css" />
</head>
<body>
    <header>
        <nav>
            <ul>
                <li><a href="#">Home</a></li>
                <li><a href="#">Screens</a></li>
            </ul>
            <div class="auth-buttons">
                <button class="login-button">Login</button>
            </div>
        </nav>
    </header>
    <main>
        <div class="container">
            <h1>
                <span class="logo">Finance Insight </span><span class="logo-icon">Dashboard</span>
            </h1>
            <p>Stock analysis and screening tool for investors in India.</p>

            <div class="search-bar">
                <input type="text" placeholder="Search for a company" />
                <button id="search-button">Search</button>
            </div>
            <p class="show">Searching for This</p>
            <div class="suggestions">
                
            </div>
        </div>
    </main>
    <footer>
        <div class="footer-container">
            <div class="footer-section">
                <h2>Made By Shreyash Bhardwaj</h2>
            </div>
        </div>
    </footer>
    <script src="{{ url_for('static', filename='js/script.js') }}"></script>
</body>
</html>
