<!-- @format -->

<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Screener Clone</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='css/styles.css') }}">

    <link
      rel="stylesheet"
      href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.3/css/all.min.css" />
  </head>
  <body>
    <header>
      <nav>
        <ul>
          <li><a href="#">Home</a></li>
          <li><a href="#">Screens</a></li>
          <li>
            <a href="#">Tools <i class="fas fa-caret-down"></i></a>
          </li>
        </ul>
        <div class="auth-buttons">
          <button class="login-button">Login</button>
        </div>
      </nav>
    </header>
    <main>
      <div class="container">
        <h1>
          <span class="logo">screener</span><span class="logo-icon">.in</span>
        </h1>
        <p>Stock analysis and screening tool for investors in India.</p>

        <div class="search-bar">
          <input type="text" placeholder="Search for a company" />
          <button>Search</button>
        </div>
        <p>Or analyse:</p>
        <div class="suggestions">
          <button>Asian Paints</button>
          <button>ITC</button>
          <button>Tata Steel</button>
          <button>Infosys</button>
        </div>
      </div>
    </main>
    <footer>
      <div class="footer-container">
        <div class="footer-section">
          <h2>screener.in</h2>
        </div>
        <div class="footer-section">
          <h3>Theme</h3>
          <ul>
            <li><button id="light-mode">Light</button></li>
            <li><button id="dark-mode">Dark</button></li>
            <li><button id="auto-mode">Auto</button></li>
          </ul>
        </div>
      </div>
    </footer>
  <script src="{{ url_for('static', filename='js/script.js') }}"></script>
  <script src="{{ url_for('static', filename='js/darkmode.js') }}"></script>
  </body>
</html>
